            /*Utilità*/
 *{ max-width: 1080px;
    margin: 0 auto;
    }

            /*Header*/
.logo{
    width: 150px;
    height: 150px; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);     
}

header{
    background-color: rgb(86, 141, 243);
    background-image: url(img/pattern.png);
    background-size: contain;
    height: 80px; 
    position: relative;    
}          /* Main */
main{
    margin-top: 30px;
}
#booleaner {
    color: rgb(0, 132, 255) 

    }
.author {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: gray;
    }
#data {
    display: block;
    margin-top: 5px;
    font-size: small
}                              /*Photo*/
.photo{
    margin-top: 25px;
}
.phototext{
    display: block;
    font-size: small;
}
.paragraph{
    margin-top: 20px;
}
.list{
    margin-top: 20px;
    padding-left: 15px;

}     
                     /*Table*/
table{ table-layout: fixed;
        max-width:max-content;
        margin-left: 0;
        border-collapse: collapse;
        margin-top: 20px;
 }
thead{
    background-color: rgb(93, 169, 241);
    width: auto;
    text-align: left;  
}
.celeste{
    background-color: aqua;
}
.testo-riga{
    width: 200px;
}
footer{                         /*footer e immagini finali*/
    margin-top: 20px;
}
h3{
    margin: 20px;
    color: gray;
    margin-left: 0 ;

}
.monitor{
    background-image:url(img/monitor.jpg);
    width: 250px;
    height: 200px;
    margin-left: 0;
    position: relative;
    background-position: center;

}
.grafico{
    background-image: url(img/graph.jpg);
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-left: 0;
    position: relative;
    background-position:center;
}
.monitor-text{
    color: white;
    font-size:large;
    position: absolute;
    top: 10px;
    left: 10px;
}
.grafico-text{
    color: white;
    font-size: large;
    position: absolute;
    top: 10px;
    left: 10px;

    
    
}