            /*Utilità*/
 *{ max-width: 1080px;
    margin: 0 auto;
    }

            /*Header*/
.logo{
    width: 150px;
    height: 150px; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);     
}

header{
    background-color: rgb(86, 141, 243);
    background-image: url(img/pattern.png);
    background-size: contain;
    height: 80px; 
    position: relative;    
}          /* Main */
main{
    margin-top: 30px;
}
#booleaner {
    color: rgb(0, 132, 255) 

    }
.author {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: gray;
    }
#data {
    display: block;
    margin-top: 5px;
    font-size: small
}                              /*Photo*/
.photo{
    margin-top: 25px;
}
.phototext{
    display: block;
    font-size: small;
}
